<!-- src/app/home/home.page.html -->
<ion-header>
    <ion-toolbar>
      <ion-title>Lista de Países</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content class="ion-padding">
    <ion-item>
      <ion-input
        [ngModel]="searchQuery()"
        (ngModelChange)="searchQuery.set($event)"
        placeholder="Buscar países (mínimo 3 caracteres)"
      ></ion-input>
      <ion-button fill="outline" (click)="restore()">Restaurar</ion-button>
    </ion-item>
    <ion-list>
      <ion-item
        *ngFor="let country of filteredCountries()"
        (click)="openDetail(country)"
        button
      >
        {{ country.name.common }}
      </ion-item>
    </ion-list>
    
    <ion-button color="danger" expand="block" (click)="clearLogs()">
      Borrar Logs
    </ion-button>
  </ion-content>
  